@use "../../assets/styles/" as *;
.wrapper {
  @include flex-center;
  @include font(1.8rem, 500);
  @include smallScreen {
    font-size: 1.4rem;
  }
  @include tablet {
    font-size: 1.2rem;
  }
  @include colors($black-color, $white-color);
  @include borders(0.0625rem, solid, $white-color, 0.125rem);
  position: relative;
  padding: 6px 12px;
  text-align: center;
  user-select: none;
  & + .wrapper {
    margin-left: 10px;
  }
  .icon + .text-content,
  .text-content + .icon {
    margin-left: 12px;
  }
  .icon {
    display: inline-block;
  }
}
.primary {
  border: none;
  background: linear-gradient(90deg, #da9e1c 0, #ecbd57 100%);
}
.text {
  @include colors($white-color, $transparent);
  padding: 0;
  border: none;
}
.outline {
  @include colors($white-color, $transparent);
}
.round {
  padding: 12px;
  border-radius: 50%;
}
.disable {
  @include colors($text-color, #ccc);
  border: none;
  pointer-events: none;
}
