@use "../../assets/styles/" as *;

.wrapper {
  display: grid;
  column-gap: 16px;
  grid-template-columns: 1.25fr 2fr 0.25fr;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  .thumb {
    height: 70px;
  }
  .icon-play {
    font-size: 22px;
  }
}
