@use "../../../assets/styles/" as *;
.wrapper {
  height: 100vh;
  @include colors($white-color, $transparent);
}
.top {
  @include flex($justify: space-between, $align: center);
  @include box(100%, $header-height);
  position: fixed;
  top: 0;
  padding: 0 46px;
  border-bottom-color: #ffffff1a;
  font-size: 2rem;
  z-index: 100;
  .navigation {
    @include flex($justify: space-between, $align: center);
    .logo {
      display: flex;
      max-width: 150px;
    }
    &-list {
      display: grid;
      grid-auto-flow: column;
      gap: 0px 16px;
      margin-left: 44px;
      .name {
        margin-left: 8px;
      }
    }
    &-item {
      padding: 12px;
      position: relative;
    }
    &-item.active {
      &::before {
        @include pseudo($height: 4px);
        bottom: 0;
        left: 0;
        background-image: radial-gradient(
          50% 75% at 50% 75%,
          #35e890 0,
          rgba(56, 224, 141, 0) 100%
        );
        filter: blur(1px);
      }
    }
  }
  .action {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0 18px;
    &-item:hover {
      color: var(--gray-color);
    }
  }
  // button user (login register )
  .wrap-btn-account {
    padding: 12px;
    .button {
      width: 185px;
      margin: 0;
    }
    .button + .button {
      margin-top: 12px;
    }
  }
}
