@use "../../../assets/styles/" as *;
.search-menu {
  background-color: transparent;
  @include flex($direction: column);
  padding: 0;
  min-width: 400px;
  .search-bar {
    @include flex($align: center);
    border: 1px solid $white-color;
    background-color: #1b1b1bff;
    .search-input {
      flex: 1;
      border: none;
      outline: none;
      @include colors($white-color, inherit);
      padding: 8px 12px;
      font-size: 1.6rem;
    }
    .search-input::placeholder {
      color: rgb(95, 95, 95);
    }
    .btn-search,
    .btn-clear,
    .loading {
      @include colors($white-color, $transparent);
      border: none;
      font-size: 1.9rem;
    }
    .loading {
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .search-result {
    margin-top: 10px;
    background-color: $black-color;
    .search-heading {
      padding: 12px 16px;
      @include font(1.6rem, 500);
      border-bottom: 1px solid $border-color;
    }
    .search-body {
      width: 400px;
      max-height: 65vh;
      padding: 0 16px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 8px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: $scrollbar-bg-color;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #333333;
      }
    }
  }
}
.btn-search {
  font-size: 2rem;
  position: relative;
  margin: 0 !important;
  @include colors($white-color, $transparent);
  border: none;
  &:hover {
    color: $gray-color;
  }
  &::before {
    @include pseudo($height: 20px);
    bottom: calc(0% - 10px);
    right: calc(0% + 16px);
    background-color: $transparent;
  }
  .description {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 11px);
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    padding: $padding-popover;
    font-size: $fz-popover;
    box-shadow: 0 0 0.625rem rgb(0 0 0 / 50%);
    color: $white-color;
    background-color: #111111ff;
  }
  &:hover .description {
    display: inline-block;
  }
}
.hidden {
  visibility: hidden;
}
@include smallScreen {
  .btn-search {
    font-size: 1.7rem;
    &:hover .description {
      display: none !important;
    }
  }
  .search-menu {
    min-width: 100%;
    .search-result {
      .search-body {
        max-height: 50vh;
      }
    }
  }
}
.mobile-position {
  left: 10px !important;
  right: 10px !important;
}
