$mobile: 480px;
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;
$navigation-height: 55px;
$with-menu: 290px;
$padding-popover: 16px 30px;
$fz-popover: 1.6rem;
$primary-color: #ecbd57;
$white-color: white;
$black-color: black;
$text-color: #9b9b9b;
$border-color: #333333ff;
$scrollbar-bg-color: #111111;
$scrollbar-thumb-bg-color: #33333380;
$swiper-theme-color: #fff;
$gray-color: #9b9b9bff;
$transparent: transparent;
$header-height-tablet-vh: 65vh;
$header-height-tablet-pc: 65%;
$header-height-mobile-pc: 50%;
