@use "../../../assets/styles/" as *;

.wrapper {
  height: 100% !important;
}
.image::before {
  @include pseudo();
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}
.content {
  position: absolute;
  bottom: 8%;
  left: 5%;
  color: var(--white-color);
  max-width: 600px;
  z-index: 10;
  .heading {
    font-size: 6rem;
    font-family: "Shantell Sans", cursive;
    margin-bottom: 10px;
  }
  .button-group {
    display: flex;
    margin-top: 20px;
    button {
      padding: 12px 30px;
    }
  }
}
